<div class="collection with-header">
  <div class="collection-header"><h4>Conteúdos</h4></div>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Sobre</div>
      <div class="collapsible-body"><span>Bem vindo ao meu primeiro PWA!</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">adb</i>Desenvolvimento</div>
      <div class="collapsible-body">
      	<span>Tecnologias Utilizadas</span>

      	<ul>
      		<li>- Ruby 2.5.1</li>
      		<li>- Rails 6.0.2</li>
      		<li>- Materialize</li>
      		<li>- JQuery</li>
      		<li>- Service Worker Rails</li>
      	</ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">account_circle</i>Quem Somos</div>
      <div class="collapsible-body">
      	<span>Aplicação desenvolvida pelo curso do OneBitCode sobre desenvolvimento de PWA</span>
      </div>
    </li>
  </ul>
</div>